 .mat-paginator {
    display: flex;
    justify-content: flex-start;
    padding-left: 3%;
    flex: 1;
}

.mat-raised-button.mat-success{
    color: #f0fff3;
    background-color: #005999;
}

.selectContainer{
    display: flex;
    flex-direction: row;
    padding-right: 5%;
    padding-top: 2%;
}

h1 {
    color: #005999;
    padding-left: 1%;
}
table {
    width: 100%;
  }
  th
  {
    color: #ffffff;
    background-color: #2D73C3;
  }
  ::ng-deep .mat-paginator-page-size-select {
      width: 27px!important;
  }
  ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
      background-color: transparent;
  }
   
  ::ng-deep .mat-select-value {
    color: #005999;
      font-weight: bold;
      font-size: 15px;
  }
  ::ng-deep .mat-select-arrow {
      color: #005999;
  }
  ::ng-deep .mat-option{
    padding: 0!important;
  
  }
  ::ng-deep .mat-option-text {
  
      text-align: right;
  }